---
layout: handbook-page-toc
title: GitLab Company-Wide Mentorship Program
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Apply as a mentor or mentee now!

Click below to apply to this program as a mentor, mentee, or both. 

**Please ensure you've read this entire handbook page before submitting your application!**

<div class="flex-row" markdown="0">
  <div>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScHVvgO7_NzCNmYG3g3L0BK11TmrKpYN8gqu68tpf-4En0QMA/viewform?usp=sf_link" class="btn btn-purple" style="width:200px;margin:5px;">Apply to be a MENTOR</a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSev0QP0KO4AJQ2UrQBJj9N6MaWdTQOQr5rN8LHPB-eKhRfSfA/viewform?usp=sf_link" class="btn btn-purple" style="width:200px;margin:5px;">Apply to be a MENTEE</a>
  </div>
</div>

## GitLab Company-Wide [Mentorship](https://about.gitlab.com/handbook/people-group/learning-and-development/mentor/) Program

GitLab's L&D team is excited to announce the 2nd iteration of our Company-Wide mentorship program! Applications for mentors and metees open on 2022-09-15. Keep reading this page for additional program details and timeline. {: .alert .alert-warning}

## Program structure

| Program Title | Description |
| ----- | --------------- |
| **Mentor/Mentee Training** | Completion of the self-paced [How to be a Good Mentor or Mentee](https://www.linkedin.com/learning/how-to-be-a-good-mentee-and-mentor/the-power-of-mentoring?u=2255073) course is **required** of all mentors and mentees. If you prefer text-based learning or don't have a LinkedIn Learning license, you can instead review [these slides](/handbook/people-group/learning-and-development/mentor/#mentor-and-mentee-training). We ask that all mentors and mentees also complete the [DIB training certification](https://gitlab.edcast.com/journey/ECL-5c978980-c9f0-4479-bf44-45d44fc56d05) prior to the start of the program. |
| **Initial program kickoff** | Async kickoff discussion with mentors and mentees. Participation is **strongly encouraged**. |
| **Mentorship Sessions** | Mentors and mentees meet sync or async every other week for ~30-minutes for a total 5 months, _(with the option to extend)_. Sessions are led by the mentee and should be focused on specific goals. Participation is **required**.|
| **Mentor/Mentee Workbook** | [Mentorship resources](/handbook/people-group/learning-and-development/mentor/#resources) are available for all mentor/mentee pairs, including suggested articles, strategies for goal setting, and sample meeting agendas. Use of resources is **encouraged**. |
| **End of Program Celebration and Feedback** | Async discussion to share mentorship success. Participation is **strongly encouraged**. An end of program feedback form will be shared with all mentors and mentees and is **required.** |


### Async First Mentorship

This program includes an opt-in, async first structure to increase opportunity for team members in any time zone to pair with mentors company-wide. Async-first means that mentees can pair with mentors in any time zone. In order to be paired in an async mentorship, both mentor and mentee must opt in while applying.

**Async first mentorship pairs should consider the following:**

1. Connect every other week using a GitLab issue, Google doc, Slack messages or voice memos, and/or Loom recorded videos. Remember that async does **not** have to mean text only. See this example of [async meeting formats](/handbook/people-group/learning-and-development/mentor/#sample-async-meeting-formats).
1. Consider finding 1-3 times over the course of the 5-month program to meet synchrousnouly, even if just for 15 minutes. This will require advance planning for both mentor and mentee and is not required.
1. Utilize all async resources provided on the [mentorship](/handbook/people-group/learning-and-development/mentor/#resources) handbook page.

## Current Program Timeline

Review the program timeline below for the next iteration of this program which will run from 2022-10 through 2023-03. {: .alert .alert-warning}

| Date | Description | Related Resources |
| ----- | ----- | ----- |
| 2022-09 | Program planning | [Planning Issue](https://gitlab.com/gitlab-com/people-group/learning-development/general/-/issues/427)  |
| 2022-09-15 | Call for Mentors Application Opens | [Application Here](https://docs.google.com/forms/d/e/1FAIpQLScHVvgO7_NzCNmYG3g3L0BK11TmrKpYN8gqu68tpf-4En0QMA/viewform?usp=sf_link) |
| 2022-09-15 | Call for Mentees Application Opens | [Application Here](https://docs.google.com/forms/d/e/1FAIpQLSev0QP0KO4AJQ2UrQBJj9N6MaWdTQOQr5rN8LHPB-eKhRfSfA/viewform?usp=sf_link) |
| 2022-09-30 | Applications Close | |
| 2022-10-07 | Mentorship pairing complete and communicated to applicants via Slack | |
| Week of 2022-10-09 | Mentor/Mentee pre-program coffee chats + async kickoff discussion and poll |  |
| Week of 2022-10-16 | Mentorship sessions begin | |
| 2023-03-20 | End or program async discussion + End of program feedback form shared | |
| 2023-03-31 | Mentorship sessions end and feedback form due | |

## Being a Mentor

As a mentor, you benefit from:

- Fast feedback loop between team members and leadership
- Opportunity to form relationships with team members in other departments
- Opportunity to support Women at GitLab and live our values

### Mentor requirements

- You have been with GitLab for at least 3 months at the time of application 
- You have availability in your schedule to meet sync or async with your mentee on a bi-weekly basis for at least 30 minute meetings for the entire length of the program
- You intend to make every effort to participate in the async kickoff discussion and will complete the LinkedIn Learning or text-version of the [How to be a Good Mentor or Mentee](https://www.linkedin.com/learning/how-to-be-a-good-mentee-and-mentor/the-power-of-mentoring?u=2255073) course
- You are not on a [Formal Coaching plan](/handbook/leadership/underperformance/#options-for-remediation) or PIP (Performance Improvement Plan)
- You can complete the [DIB training certification](https://gitlab.edcast.com/journey/ECL-5c978980-c9f0-4479-bf44-45d44fc56d05) before the program begins

**Applications will be prioritized based on:**

- Skill and prior experience as a mentor
- Performance in current role
- Available and appropriate mentee match in the current session

### Apply

[Click here to apply as a MENTOR!](https://docs.google.com/forms/d/e/1FAIpQLScHVvgO7_NzCNmYG3g3L0BK11TmrKpYN8gqu68tpf-4En0QMA/viewform?usp=sf_link)

_Applying for a mentor does not guarantee you a spot in the program and eligibility will be evaluated based on criteria above and program need._

If you've participated in a previous GitLab mentor program, you are welcome to apply again!

## Being a Mentee

As a mentee, you benefit from:

- Increased visibility with leadership
- Increased professional development opportunities
- Career coaching and guidance
- Opportunity to form relationships with leaders on other teams

### Mentee requirements

- You have been with GitLab for at least 3 months at the time of application 
- You have availability in your schedule to meet sync or async with your mentor on a bi-weekly basis for at least 30 minute meetings for the entire length of the program
- You are not on a [Formal Coaching plan](/handbook/leadership/underperformance/#options-for-remediation) or PIP (Performance Improvement Plan)
- You intend to make every effort to participate in the async kickoff discussion and will complete the LinkedIn Learning or text-version of the [How to be a Good Mentor or Mentee](https://www.linkedin.com/learning/how-to-be-a-good-mentee-and-mentor/the-power-of-mentoring?u=2255073) course
- You can complete the [DIB training certification](https://gitlab.edcast.com/journey/ECL-5c978980-c9f0-4479-bf44-45d44fc56d05) before the program begins

Applications will be prioritized on many points including:

- Team members on a management career track
- Performance in current role

### Apply

[Click here to apply to be a MENTEE!](https://docs.google.com/forms/d/e/1FAIpQLSev0QP0KO4AJQ2UrQBJj9N6MaWdTQOQr5rN8LHPB-eKhRfSfA/viewform?usp=sf_link)

_Applying for a mentee does not guarentee you a spot in the program, and eligibility will be evaluated based on criteria above._

If you've participated in a previous GitLab mentor program, you are welcome to apply again!

## Metrics and Outcomes

Mentors and mentees will complete a pre-program and end of program survey to collect feedback, assess skills, and determine if goals set during mentor/mentee relationships have been set.

Success of this program will be measured by:

1. percentage of mentor/mentee pairs who meet consistently on a bi-weekly basis, with a goal of 95% completion
1. attendance to live training sessions, with a goal of 95% attendance
1. quality of feedback of the program from both the mentor and mentee perspective
1. percentage of mentee goal achieved during mentorship, as reported by mentees with a goal of at least 50% of goal achieved
1. mentor and mentee career development at GitLab after program conclusion including rates of promotion, transfer, performance growth factors, and retention


## FAQ

**Can I participate as both a mentor and a mentee?**

Yes, this is a possibility. It's important that team members talk with their managers to discuss their capacity to participate in both roles in this program. Participation in both roles will require a 2hr commitment per month (two 30 minute sessions as a mentor and two 30 minute sessions as a mentee).

It's possible that we will have a shortage of mentors and be unable to complete all mentor/mentee pairs. If there is a shortage of mentors and you've applied as both a mentor and a mentee, you will be assigned **only** as a mentor in this program. 

**I'd like to participate but I can't commit the entire length of the program. Can I still apply?**

If you cannot commit to the 5 month program, please consider applying for a future mentorship program at GitLab. It's important that both mentors and mentees are available for the full 5 month program to achieve the best results.

**I'm not eligible to be a mentor or a mentee in this program. What are my options for future participation?**

Team members are always encouraged to build mentor/mentee relationships independently. You can find resources and a list of available mentors in the [Learning and Development handbook](/handbook/people-group/learning-and-development/mentor/)

## Additional questions?

Questions, comments, and feedback can be posted in the [#mentoring](https://app.slack.com/client/T02592416/C01QKNDJ76J) slack channel. To stay up to date about future iterations of this program, please complete [this interest form](https://docs.google.com/forms/d/e/1FAIpQLSd98JiKhDJXa7BXXp1swoqrc562zKwW9EAjCl8ffQkJnh2Pwg/viewform?usp=sf_link)

## Results

### Participation

The following section outlines results of the first iteration of this company wide mentroship program, organized from March to July, 2022.

| Metric | FY23 Q1/Q2 | FY23 Q3/Q4 + FY24 Q1 | 
| ----- | ----- | ----- |
| Total Participants | 86 | |
| Mentor/Mentee Pairs | 47 | |
| Total Mentors | 39 | |
| Total Mentees | 47 | |
| % participants who wouls recommend this program | 95% | |

### FY23 Q1/Q2 Details

#### Participant feedback

What mentors and mentees learned from the program:

1. `To drive change for myself and be confident - ask the questions you need to get what you want from your career.`
1. `The differences in communication styles and values between sales and engineering.`
1. `Learned more about the intersection of XDR and sales teams.`
1. `See every question or feedback as an opportunity to learn and grow.`
1. `How engineers can help non-engineers be successful in the company.`
1. `We don’t know everything. Don’t be afraid to say I don’t know.`

#### Connecting mentorship to business results

During FY23 Q1, there were 2 mentorship programs running at GitLab. At the end of Q1, all mentees in current programs were asked to complete a short survey to report the affect their mentorship had on their achievement of business and personal goals during the quarter. 17% of mentees  completed the survey. Below are the results:

<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSQo5yL0DOCgaAQWwXaIYHfb20pGIxlkzkxBB_xgU-rEsNkNa4U1NxevaCIQRZrgExrSQecEng50Kmy/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

